.nav {
  position: absolute;
  box-sizing: border-box;
  height: 100%;
  width: 350px;
  flex-shrink: 0;
  user-select: none;
  display: flex;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
  flex-direction: column;
  background-color: var(--navbar-bg-color);
  transition: transform var(--transition-fast);
  z-index: 100;
}
/* hide scrollbar but still being able to scroll */
.nav__scrollable_overflow {
  overflow: hidden;
}
.nav__scrollable {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  padding-right: 17px;
  overflow-y: scroll;
}
.nav__hidden {
  transform: translateX(-100%);
  box-shadow: none;
}
.nav__header {
  padding: 2em;
}
.nav__header h1 {
  font-size: 25px;
}
.nav__header h1:nth-child(1) {
  margin-top: 1em;
  margin-bottom: 0.2em;
}
.nav__actions {
  display: flex;
  flex-direction: column;
  padding: 1em;
  gap: 0.5em;
}
.nav__hide_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  position: absolute;
  top: 3rem;
  right: 0;
  width: 3em;
  height: 5em;
  outline: none;
  border: none;
  border-radius: 1em 0 0 1em;
  background-color: var(--navbar-item-active-color);
  color: var(--text-accent-hover-color);
}
.nav__hidden .nav__hide_btn {
  transition: transform var(--transition-fast);
  -moz-transform: scale(-1, -1) translateX(-3em);
  -webkit-transform: scale(-1, -1) translateX(-3em);
  -o-transform: scale(-1, -1) translateX(-3em);
  -ms-transform: scale(-1, -1) translateX(-3em);
  transform: scale(-1, -1) translateX(-3em);
  background-color: var(--navbar-collapse-btn);
}
.nav__hidden .nav__hide_btn::after {
  box-shadow: 0 -1em 0 0 var(--navbar-collapse-btn);
}
.nav__hidden .nav__hide_btn::before {
  box-shadow: 0 1em 0 0 var(--navbar-collapse-btn);
}
.nav__hide_btn:active {
  background-color: var(--navbar-expander-active-color);
}
.nav__hide_btn:active::before {
  box-shadow: 0 1em 0 0 var(--navbar-expander-active-color);
}
.nav__hide_btn:active:after {
  box-shadow: 0 -1em 0 0 var(--navbar-expander-active-color);
}
.nav__hide_btn svg {
  width: 1.5em;
  height: 1.5em;
}
.nav__hide_btn::before,
.nav__hide_btn::after {
  content: "";
  position: absolute;
  width: 1em;
  right: 0;
  height: 2em;
  background-color: transparent;
}
.nav__hide_btn::before {
  bottom: 5em;
  border-bottom-right-radius: 25px;
  box-shadow: 0 1em 0 0 var(--navbar-item-active-color);
}
.nav__hide_btn::after {
  top: 5em;
  border-top-right-radius: 25px;
  box-shadow: 0 -1em 0 0 var(--navbar-item-active-color);
}
/*
when we are creating multiple muiTheme instances
className gets ignored for unknown reason and we
have to apply !important to set higher priority
*/
.nav__btn_standart {
  border-radius: 0.5em !important;
  text-transform: none !important;
  padding-left: 1em !important;
  box-sizing: border-box !important;
  justify-content: left !important;
  gap: 0.5em !important;
  font-size: 18px !important;
  width: 100% !important;
  height: 3em !important;
}
.nav__btn_standart svg {
  width: 24px !important;
  height: 24px !important;
}
.nav__btn_standart.active {
  background-color: var(--navbar-item-active-color) !important;
}
.nav__boards .nav__btn_standart {
  height: 4em !important;
}
.nav__boards {
  background-color: var(--navbar-bg-color);
  display: flex;
  flex-direction: column;
  padding: 1em;
  gap: 0.5em;
}
.nav__boards_expand {
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0 2em;
  padding-right: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.nav__boards_expand,
.nav__boards_expand h3 {
  transition: all var(--transition-fast);
  color: var(--text-accent-color);
}
.nav__boards_expand:hover,
.nav__boards_expand:hover h3 {
  color: var(--text-accent-hover-color);
}
/* draw horizontal line with padding */
.nav__boards_expandLine {
  box-sizing: border-box;
  width: 100%;
  height: 2px;
  background-color: var(--text-accent-color);
  margin-top: 0.5em;
}
.nav__width_measurer {
  transition: width var(--transition-fast);
  width: 350px;
  flex-shrink: 0;
}
.nav__width_measurer.nav__hidden {
  width: 0;
}
.boards__new_board {
  background-color: var(--navbar-item-active-color);
  display: flex;
  box-sizing: border-box;
  border-radius: 0.5em;
  padding: 0.5em;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  font-size: 18px;
}
.boards__new_board input {
  color: var(--text-accent-hover-color);
  border-radius: 0.5em;
  padding: 0 1em;
  background-color: transparent;
  border: none;
  box-sizing: border-box;
  font-size: 18px;
  justify-content: left;
  width: 100%;
  height: 3em;
}
@media screen and (max-width: 750px) {
  .nav__hide_btn {
    top: 0.5em;
  }
  .nav__hide_btn::after,
  .nav__hide_btn::before {
    display: none;
  }
}
@media screen and (max-width: 550px) {
  .nav,
  .nav__width_measurer {
    width: 100%;
  }
}
