.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--card-bg-color);
  border-radius: 0.5em;
}
.title,
.description {
  transition: all var(--transition-fast);
  margin: 0.5rem;
  font-family: Golos-regular;
  font-weight: 100;
  background-color: transparent;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  padding: 0.5em;
  outline: none;
  color: var(--text-main-color);
}
.title::placeholder,
.description::placeholder {
  color: var(--text-placeholder-color);
}
.description {
  overflow: auto;
  min-height: 3em;
  padding-bottom: 0;
  max-height: 8em;
  margin-top: 0;
  resize: none;
}
.title:focus,
.description:focus {
  background-color: var(--bg-main-color);
}
.controls {
  display: flex;
  gap: 0.5em;
  justify-content: flex-end;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
}
.controls button:nth-child(2) {
  min-width: 7em !important;
}
.error {
  background-color: var(--input-error-color);
}
