.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--card-bg-color);
  border-radius: 0.5em;
}
.controls {
  display: flex;
  gap: 0.5em;
  justify-content: flex-end;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
}
.controls button:nth-child(2) {
  min-width: 7em !important;
}
.error {
  background-color: var(--input-error-color) !important;
}
