.container {
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  max-height: 4.5rem;
  width: 100%;
  transition: height 1s;
  border-radius: 0.5em;
  background-color: var(--card-bg-color);
}
.checkbox_holder {
  width: 60px;
  margin: 5px;
}
.task_controls {
  margin: 11px 10px;
  gap: 5px;
  display: flex;
}
.title__small_margin {
  margin-top: 8px;
}
.title__big_margin {
  margin-top: 16px;
}
.content_holder {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.description {
  overflow-wrap: break-word;
  transition: all var(--transition-fast);
  font-size: 14px;
  color: var(--text-accent-color);
}
.container:hover {
  max-height:fit-content;
}
.container:hover .content_holder {
  height: auto;
}
.container:hover .description {
  max-height: none;
  font-size: 24px;
  color: var(--text-main-color);
}
.confirm_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  width: 100%;
  padding: 1rem 0;
  border-radius: 0.5em;
  background-color: var(--card-bg-color);
}
.confirm_box__controls {
  display: flex;
  gap: 0.5em;
}
.confirm_box h2{
  margin: 0;
}
.confirm_box__controls button:nth-child(2) {
  min-height: 38px;
  min-width: 120px;
  background-color: var(--error-color) !important;
}
.description {
  max-height: 1em;
  overflow: hidden;
}
